{% extends 'blogapp/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About page</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem eligendi, fugiat in inventore obcaecati optio placeat reiciendis vero. Assumenda commodi consequuntur cum ducimus eaque error excepturi id impedit ipsum, iste iure labore laborum laudantium, molestiae nobis nulla optio possimus quam quasi quibusdam quis rerum saepe sint soluta tempore ut velit.</p>
</div>
{% endblock %}