{% extends 'blogapp/base.html' %}
{% load static %}

{% block msg %}
 {% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="alert alert-{{message.tags}} mb-5 {% endif %}">{{message}}</p>
    {% endfor %}
{% endif %}
{% endblock %}

{% block side %}
<div class="col-sm-2 text-white my-5 text-center">
    <h4 class="my-5">Profile</h4>
    <p>{{full_name}}</p>
    {% for group in groups %}
    <small>{{group.name}}</small>
    {% endfor %}
</div>
{% endblock %}


{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">Dashboard page</h3>

    <a href="{% url 'blogapp:addpost' %}" class="btn btn-success">Add post</a>

    <h4 class="text-center alert alert-info mt-3">Show Post Informatin</h4>
    {% if posts %}
    <table class="table table-hover tg-white">
        <thead>
        <tr class="text-center">
            <th scope="col" style="width:2%">ID</th>
            <th scope="col" style="width:28%">Title</th>
            <th scope="col" style="width:55%">Description</th>
            <th scope="col" style="width:15%">Action</th>
        </tr>
        </thead>
        {% for post in posts %}
            <tr>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.description}}</td>
                <td class="text-center">
                    <a href="{% url 'blogapp:updatepost' post.id %}" class="btn btn-warning btn-sm">Edit</a>

                    {% if perms.blog.delete_post %}
                    <form action="{% url 'blogapp:deletepost' post.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger btn-sm" value="Delete">
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        {% endif %}

    </table>

</div>
{% endblock %}