
{% load static %}



<div class="container-fluid">
				<div class="row tm-gallery">
				  <div id="tm-gallery-page-pizza" class="tm-gallery-page">
				<div class="row mx-auto">
					{% for product in products %}
						<div class="card mx-auto mb-3" style="width=15rem;">
							<div class="col-lg-4 col-sm-6">
								{% if user.is_authenticated%}
					           <a href="{% url 'store:detail' product.id %}">{% endif %}<img class="imgchange" src="{{product.imageURL}}" alt=""></a>
					      </div>

							<div class="card-body">
								<h5 class="card title" >{{product.name}}</h5>
								<h3>${{product.price}}</h3>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>