{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Page</title>
</head>
<style>
.content {
    position:relative;
    width:300px;
    top: 50%;
    height:100 px;
    display:block;
    margin: auto;
}
input[type=text]{
    width:100%;
    padding: 12px, 20px;
    margin:8px 0;
    box-sizing:border-box;
    background-color: #75dd7a;
    color:white;
}
input[type=submit]{
    background-color: #f0e09b;
    cursor: pointer;
}
</style>
<body>
    <div class="content">
        <h1>Enter numbers</h1>
        <form action='calc' method='POST'>
            {% csrf_token %}
            Enter first number:  
            <br>
            <input type='text' name='num1'><br>
            <br>
            Enter second number: <input type='text' name='num2'><br>
            <br>
            <input type='submit'>
            
        </form>
    </div> 
</body>
</html>
{% endblock %}