{% extends 'base.html' %}
{%load static%}
<!--<!DOCTYPE html>-->
{%block titlebar%}
  <title>Product</title>
{%endblock%}


{% block page-head %}
   Banner
{% endblock %}

{% block breadcrumb %}
   Banner list
{% endblock %}


{% block wrapper%}
<section class="content">
	  <div class="row">
	    <div class="col-12">
	      <div class="card">
	        <div class="card-header">
				<div class="col-12">

				   <a href="{% url 'myapp:BannerAdd' %}" class=" btn btn-primary float-right">
				  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				  <span><strong>Add+ </strong></span>
				</a>

			  </div>
	          <h3 class="card-title">banner table</h3>
	        </div>
	        <!-- /.card-header -->
	        <div class="card-body">
	          <table id="example1" class="table table-bordered table-hover">
	            <thead>
	            <tr>
					<th>id</th>
					<th>Status</th>
					<th>Path</th>
					<th>Created by</th>
					<th>Created date</th>
					<th>Modified by</th>
					<th>Modified date</th>
				  <th>Edit/Delete</th>

	            </tr>
	            </thead>
	            <tbody>


	                {%for banner in banners %}
		                <tr>
                            <td>{{banner.id}}</td>

							<td>{% if banner.status == 'Active' %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}
							<i class="fa fa-times" aria-hidden="true"></i>{% endif %}</td>
<!--		                  <td>{% if  user.is_active == True %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}-->
<!--                          <i class="fa fa-times" aria-hidden="true"></i>{% endif %}</td>-->
							<td>{{banner.file_path}}</td>
							<td>{{banner.created_by}}</td>
							<td>{{banner.created_date}}</td>
							<td>{{banner.modified_by}}</td>
							<td>{{banner.modified_date}}</td>
						  <td>
							   <a href="{% url 'myapp:BannerEdit' banner.id %}" class="btn btn-primary a-btn-slide-text">
								   <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                                 <a href="#myModal-{{banner.id}}" class="btn btn-danger a-btn-slide-text" data-toggle="modal">
                                  <i class="fa fa-trash"></i>
                                 </a>

								  <div id="myModal-{{banner.id}}" class="modal fade" tabindex="-1">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Confirmation</h5>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>
												<div class="modal-body">
													<p>Do you want to delete user?</p>
	<!--                                                <p class="text-secondary"><small>If you don't save, your changes will be lost.</small></p>-->
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
													<a type="button" class="btn btn-danger" href="{% url 'myapp:BannerDelete' banner.id %}" >Confirm</a>
												</div>
											</div>
										</div>
									</div>

						  </td>

		                </tr>
	                {%endfor%}
	            </tbody>
	          </table>
				<nav aria-label="Page navigation example">
                {% if banners.has_other_pages %}
                  <ul class="pagination justify-content-end">

                    {% if banners.has_previous %}
                      <li class="page-item">
                          <a class="page-link" href="?page={{ banners.previous_page_number }}" tabindex="-1">Previous</a>
                      </li>
                    {% else %}
                      <li class="page-item disabled">
                          <span class="page-link">Previous</span>
                      </li>
                    {% endif %}

                        {% for i in banners.paginator.page_range %}
                            {% if banners.number == i %}
                                <li class="page-item active"><a class="page-link" href="?page={{ i }}" data-page = "{{ i }}" > {{ i }} </a></li>
                            {% else %}
                                <li class="page-item "><a class="page-link get-page" data-action="{{ i }}"  >{{ i }}</a></li>
                            {% endif %}

                        {% endfor %}
                    {% if banners.has_next %}
                      <li class = "page-item"><a  class="page-link  " href="?page={{ banners.next_page_number }}">Next</a></li>
                    {% else %}
                      <li class = "page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}

                  </ul>
                {% endif %}
                </nav>
	        </div>
	        <!-- /.card-body -->
	      </div>
	      <!-- /.card -->
	  </div>
	</div>
</section>
{% endblock %}

{%block extra%}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script>
  $(function () {
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
    });
  });
</script>
{%endblock%}
