{% extends 'base.html' %}
{%load static%}
<!--<!DOCTYPE html>-->
{%block titlebar%}
  <title>Group</title>
{%endblock%}


{% block page-head %}
   Group
{% endblock %}

{% block breadcrumb %}
   Group list
{% endblock %}


{% block wrapper%}
<section class="content">
	  <div class="row">
	    <div class="col-12">
	      <div class="card">
	        <div class="card-header">
				<div class="col-12">

				   <a href="{% url 'myapp:GroupAdd' %}" class=" btn btn-primary float-right">
				  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				  <span><strong>Add+ </strong></span>
				</a>

			  </div>
	          <h3 class="card-title">group table</h3>
	        </div>
	        <!-- /.card-header -->
	        <div class="card-body">
	          <table id="example1" class="table table-bordered table-hover">
	            <thead>
	            <tr>
					<th>id</th>
	              <th>Name</th>
	              <th>Permission</th>
				  <th>Edit/Delete</th>

	            </tr>
	            </thead>
	            <tbody>

					{% if group_ids %}
	                {%for id in group_ids %}
		                <tr>
                            <td>{{group.id}}</td>
							{% endfor %}
						{% endif %}

							{% if permissions %}
		                  {% for permission in permissions %}
							<td>{{ permission }}</td>
							{% endfor %}
							{% endif %}
						  <td>
							   <a href="" class="btn btn-primary a-btn-slide-text">
								   <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>
                                 <a href="#myModal-{{user.id}}" class="btn btn-danger a-btn-slide-text" data-toggle="modal">
                                  <i class="fa fa-trash"></i>
                                 </a>

								  <div id="myModal-{{user.id}}" class="modal fade" tabindex="-1">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Confirmation</h5>
													<button type="button" class="close" data-dismiss="modal">&times;</button>
												</div>
												<div class="modal-body">
													<p>Do you want to delete user?</p>
	<!--                                                <p class="text-secondary"><small>If you don't save, your changes will be lost.</small></p>-->
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
													<a type="button" class="btn btn-danger" href="{% url 'myapp:UserDelete' user.id %}" >Confirm</a>
												</div>
											</div>
										</div>
									</div>

						  </td>

		                </tr>

	            </tbody>
	          </table>
	        </div>
	        <!-- /.card-body -->
	      </div>
	      <!-- /.card -->
	  </div>
	</div>
</section>
{% endblock %}

{%block extra%}
<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>

<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.js' %}"></script>
<script>
  $(function () {
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
    });
  });
</script>
{%endblock%}
