{% extends 'base.html' %}
{%load static%}


{%block titlebar%}
  <title>add user</title>
{%endblock%}

{% block page-head %}
   User Page
{% endblock %}

{% block breadcrumb %}
   User page
{% endblock %}

{% block wrapper%}

<div class="col-md-12">
    <div class="card card-primary">
      <form method="post" action="{% url 'myapp:UserAdd'%}" nonvalidate>
           <div class="card-body">
               {% csrf_token %}

                {% for field in form %}

                        <div class=" form-group is-invalid" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                            {{ field.label_tag }}{% if field.field.required %}<span class="required">*</span>{% endif %}

                            {{ field }}

                            {% if field.errors %}
                                <div class="col-sm-6">
                                    <strong id="passwordHelp" class="text-danger">
                                {{ field.errors }}
                                    </strong>
                                </div>
                             {% endif %}

                            <p class="help">{{ field.help_text|safe }}</p>
                        </div>

                {% endfor %}

           </div>
            <div class="card-footer">
	       <button type="submit" class="btn btn-primary">submit</button>
                <a class="btn btn-default" href="../">cancel</a>
            </div>
       </form>
    </div>
</div>


{% endblock%}
